<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
<h1>Create User Game</h1>
<form action="/save" method="post">
    <div>
        <label for="">Username</label>
        <input type="text" name="username">
    </div>
    <div>
        <label for="">Password</label>
        <input type="password" name="password">
    </div>
    <button type="submit" class="">Save</button>
    <button type="reset" class="">Reset</button>
</form>
</body>
</html>