<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <title>Document</title>
</head>
<body>
    <div class="logo">
        <h1>Rock - Paper - Scissors Game</h1>
    </div>
        <form action="/login" method="POST">
            <p class="title">Login Form</p>
            <div class="form-group">
                <label for="">Username</label>
                <input name="username" id="username" type="text">
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input name="password" id="password" type="password">
            </div>
            <div class="form-group">
                <button id="login-btn" type="submit">Login</button>
            </div>
        </form>
</body>
</html>